.ShopBorder {
  box-shadow: inset 0px 0px 0px 1px #1D1E24, inset 0px 0px 1px 2px #B5A865, inset 0px 0px 1px 5px #876A37, inset 0px 0px 1px 9px #091511, inset 0px 0px 1px 10px #284B40;
  background-color: #192626;
  width: calc(100vw - 40px);
  padding: 10px;
  max-width: 1200px;
  height: calc(100vh - 40px);
  margin: 0 auto;
  color: #448b7d;
}

.Shop {
  display: flex;
  height: 100%;
}

.Shop .SearchContainer {
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
}

.Shop .DetailsContainer {
  width: 400px;
}

.Shop .InputContainer {
  width: 100%;
  padding: 12px;
}

.Shop .FilterListContainer {
  display: flex;
  flex-grow: 1;
}

.Shop .FilterContainer {
  width: 300px;
}

.Shop .ListContainer {
  width: calc(100% - 300px);
}